<%- include('../partials/head.ejs') %>

<body>
  <header class="header--container">
    <%- include('../partials/navigation.ejs') %> 
  </header>
  <main class="main-container">
    <h1 class="title add-product"><%= pageTitle %> </h1>
    <form action="/admin/editproduct" method="POST">
      <div class="form-control">
        <label for="product">Product</label>
        <input type="text" name="name" value="<%= product.name %>">
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input type="number" name="price" value="<%= product.price %>" step="0.01">
      </div>
      <div>
        <label for="imageUrl">Image URL</label>
        <input type="text" name="imageUrl" value="<%= product.imageUrl %>">
      </div>
      <div>
        <label for="description">Description</label>
        <textarea rows="5" type="text" name="description" value="<%= product.description %> ">
          <%= product.description %> 
        </textarea>
      </div>
      <input type="hidden" value="<%= product._id %>" name="_id">
      <button type="submit">EDIT</button>
    </form>
  </main>
  
</body>
</html>